@charset "utf-8";
/* CSS Document */

* {
	font-family: "Lexend", Sans-serif;
}

p {
	font-size: 12pt;
	line-height: 2
}

h1 {
	font-size: 25pt
}

#navandhero {
	background-color: #7188FF;
}

.coming-soon {
	margin-left: 125px;
}

header {
	text-align: center;
	background-color: #7188FF;
	padding-top: 30px;
	margin-bottom: 50px;
}

header h1 {
	margin-top: 100px;
	padding-bottom: 25px;
	text-align: left;
	margin-left: 125px;
	color: white
}


nav {
	display: inline-flex;
}

nav a:hover {
color: #FF8730;
text-decoration: underline;

}

nav a {
	margin-left: 20px;
	margin-right: 10px;
	color: white;
	text-decoration: none
}

#herosection {
	display: inline-flex;
	background-color: #7188FF;
	align-items: center;
}

#herosection .column1 {
	margin-left: 125px;
	margin-right: -50px;
	color: white;
	z-index: 500
}

.tealtext {
	color: #6AE5A2
}

#herosection .column2 {
	float: right;
	margin-left: -200px;
}


#herosection .column2 img {
	width: 100%;
	text-align: center;
	border-radius: 10% 40%/ 50% 10%
}

.CTA {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background-color: #FF8730;
	border: none
}

.CTA a {
	text-decoration: none;
	color: white;
	font-weight: bold
}

.intro {
	display: inline-flex;
	width: 80%;
	margin-top: 150px;
	margin-left: 125px;
	justify-content: center
}

.textcolumn {
	width: 80%;
	margin-right: 50px;
}

.textcolumnright {
	margin-left: 50px
}

.imagecolumn {
	width: 40%;
}

.imagecolumn img {
	width: 100%
}

#eventscontainer {
	background-color: #7188FF;
	margin-top: 100px;
	padding-bottom: 100px;
	padding-top: 100px
}

#eventscontainer h1 {
	margin-left: 125px;
	color: white
}

.events {
	width: 80%;
	display: inline-flex;
	margin-left: 125px;
}

.eventdate {
	background-color: #404040;
	width: 90%;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	color: white
}

.eventdatetext {
	width: 80%;
	margin: auto;
	padding: 20px
}

.eventdatetext a {
	color: #ffffff;
	text-decoration: none
}

.eventdatetext a:hover {
	color: #FF8730;
	text-decoration: underline
}

.events h1 {
	display: block
}

#footercontainer {
	background-color: #7188FF
}

footer {
	width: 100%;
	margin-top: 100px;
	display: flex;
	background-color: #7188FF;
	padding-top: 50px;
	padding-bottom: 20px
}

#termsconditions a:hover {
	color: #FF8730;
	text-decoration: underline
}

hr {
	width: 90%
}

#bottomnav {
	display: grid;
	width: 33%
}

#bottomnav a {
	color: #ffffff;
	text-align: center;
	margin-bottom: 20px;
}

#termsconditions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: auto;
    margin-top: -20px;
}

#termsconditions a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
}

#socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: -20px;
}

#socialmedia a {
	text-align: center;
	padding: 0 10px;
}

#socialmedia a img {
    width: 20px;
    height: auto;
}

.footer-divider {
	width: 80%;
    height: 1px;
    background-color: white;
	margin: 1px auto;
}

#copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
	padding-top: 10px;
	background-color: #7188FF
}

.left-text {
    text-align: left;
    color: #ffffff;
	padding-left: 160px;
}

.right-text {
    text-align: right;
    color: #ffffff;
	padding-right: 160px;
}

/* JS Code */

.cursor {
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #FF8730;
	pointer-events: none;
	mix-blend-mode:normal; 
	z-index: 999;
	transition: transform 0.2s;
  }

  .popimage {
	max-height: 100%;
	transition: transform 0.8 s ease;
  }

  .CTA {
	display: inline-block;
	transition: all 0.3s ease;
  }


  /* JS Code */

  
#location {
	display: inline-flex;
	width: 80%;
	margin-left: 125px
}

#locationtext {
	margin-right: 50px
}

#map {
	width: 50%;
}

#hours {
	display: inline-flex;
	width: 80%;
	margin-left: 125px;
	margin-top: 100px
}

#hourstext {
	width: 50%;
}

#hourstimes {
	width: 50%;
	display: grid;
	justify-content: right
}

.timeslot {
	display: inline-flex;
	align-items: baseline;
}

.timeslot h2 {
	margin-right: 30px
}

#peoplecontainer {
	width: 80%;
	margin-left: 125px;
	margin-top: 100px
}

.people {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px 30px;
}

.peoplecategories {
	margin-bottom: 50px;
	text-align: center;
	margin-top: 50px
}

.peoplecategories a {
	margin-left: 50px;
	margin-right: 50px;
	color: #000000;
	text-decoration: none
}

#peoplecategories h3 {

	text-align: center;
}

.person {
	display: grid;
	text-align: center;
	margin: auto
}

#communitysupportcontainer {
	width: 80%;
	margin-left: 125px;
	margin-top: 50px;
}

#communitysupport {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px 50px;
	margin-top: 50px
}


#gallerylab {
	display: flex;
	margin-top: 100px;
	width: 80%;
	margin-left: 125px
}

#gallerylabtext {
	width: 70%;
	margin-right: 50px
}

#gallerylab video {
	width: 100%
}

#volunteercontainer {
	background-color: #7188FF;
	height: 350px;
	margin-top: 100px;
}

#volunteer {
	display: flex;
	width: 80%;
	margin-left: 125px;
	padding-top: 40px;
}

#volunteertextleft {
	margin-right: 50px;
	color: white;
}

#volunteertextright {
	color: white;
}

#gallerycontainer {
	display: flex;
	margin-top: 100px;
	width: 80%;
	margin-left: 125px
}

#galleryimgs {
	display: flex;
}

#galleryimgs img {
	margin-right: 20px
}

#eventschedule {
	display: flex;
	width: 80%;
	margin-left: 125px;
	margin-top: 100px
}

#eventscheduletext {
	padding-top: 75px
}

#eventschedule img {
	width: 80%;
	float: right;
	border-radius: 10px
}

#classescontainer {
	width: 80%;
	margin-left: 125px;
	margin-top: 100px
}

#classofferings {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 10px 10px;
	margin-top: 50px;
}

.class {
	display: inline-grid;
	text-align: center;
	margin: auto
}

.class img {
	border-radius: 10px
}

.classname {
	position: relative;
	text-align: center;
	top: -120px;
	z-index: 999;
	color: white
}

#mentorshipcontainer {
	width: 100%;
	display: flex;
	margin-top: 100px;
	background-image: url("../images/mentorship_opportunities.jpg");
	height: 400px;
	padding-top: 100px
}

#mentorshipcontent {
	width: 80%;
	margin-left: 125px;
	display: flex;
	color: white;
}

#mentorshiptitle {
	width: 50%
}

#mentorshiptext {
	width: 50%
}

#careercontainer {
	width: 80%;
	margin-left: 125px;
	margin-top: 100px
}

.wrapper {
	max-width: 1100px;
	width: 100%;
	position: relative;
  }
.wrapper i {
	top: 50%;
	height: 50px;
	width: 50px;
	cursor: pointer;
	font-size: 1.25rem;
	position: absolute;
	text-align: center;
	line-height: 50px;
	background: #FF8730;
	border-radius: 50%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.23);
	transform: translateY(-50%);
	transition: transform 0.1s linear;
  }

.wrapper i:active{
	transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
	left: -22px;
  }
  .wrapper i:last-child{
	right: -22px;
  }
  .wrapper .carousel{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc((100% / 3) - 12px);
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	gap: 16px;
	border-radius: 8px;
	scroll-behavior: smooth;
	scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
	display: none;
  }
  .carousel.no-transition {
	scroll-behavior: auto;
  }
  .carousel.dragging {
	scroll-snap-type: none;
	scroll-behavior: auto;
  }
  .carousel.dragging .card {
	cursor: grab;
	user-select: none;
  }
  .carousel :where(.card, .img) {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .carousel .card {
	scroll-snap-align: start;
	height: 342px;
	list-style: none;
	background: #fff;
	cursor: pointer;
	padding-bottom: 15px;
	flex-direction: column;
	border-radius: 8px;
	border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(0, 0, 0);
  }
  
  .carousel .card .img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
  }
  .card .img img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
  }

  .carousel .card h2 {
	font-weight: 500;
	font-size: 1.56rem;
	margin: 30px 0 5px;
  }
  .carousel .card span {
	color: #6A6D78;
	font-size: 1.31rem;
  }
  @media screen and (max-width: 900px) {
	.wrapper .carousel {
	  grid-auto-columns: calc((100% / 2) - 9px);
	}
  }
  @media screen and (max-width: 600px) {
	.wrapper .carousel {
	  grid-auto-columns: 100%;
	}
  }

