@charset "utf-8";
/* CSS Document */

* {
	font-family: "Lexend", Sans-serif;
}

p {
	font-size: 12pt;
	line-height: 2
}

#navandhero {
	background-color: #7188FF
}

header {
	text-align: center;
	background-color: #7188FF;
	padding-top: 30px;
	margin-bottom: 50px
}

nav {
	display: inline-flex;
}

nav a {
	margin-left: 20px;
	margin-right: 10px;
	color: white;
	text-decoration: none
}

#herosection {
	display: inline-flex;
	background-color: #7188FF;
	align-items: center;
}

#herosection .column1 {
	margin-left: 125px;
	margin-right: -50px;
	color: white;
	z-index: 99
}

.tealtext {
	color: #6AE5A2
}

#herosection .column2 {
	float: right;
	margin-left: -200px;
}

#herosection .column2 img {
	width: 100%;
	text-align: center;
	border-radius: 10% 40%/ 50% 10%
}

#CTA {
	width: 150px;
	height: 50px;
	border-radius: 5px;
	background-color: #FF8730;
	border: none
}

#CTA a {
	text-decoration: none;
	color: white;
	font-weight: bold
}

.intro {
	display: inline-flex;
	width: 80%;
	margin-top: 150px;
	margin-left: 125px;
	justify-content: center
}

.textcolumn {
	width: 80%;
	margin-right: 50px;
}

.textcolumnright {
	margin-left: 50px
}

.imagecolumn {
	width: 80%;
}

.imagecolumn img {
	width: 100%
}

#eventscontainer {
	background-color: #7188FF;
	margin-top: 100px;
	padding-bottom: 100px;
	padding-top: 100px
}

#eventscontainer h1 {
	margin-left: 125px;
	color: white
}

.events {
	width: 80%;
	display: inline-flex;
	margin-left: 125px;
}

.eventdate {
	background-color: #404040;
	width: 90%;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	color: white
}

.eventdatetext {
	width: 80%;
	margin: auto;
	padding: 20px
}

.eventdatetext a {
	color: #6AE5A2;
	text-decoration: none
}

.events h1 {
	display: block
}

footer {
	width: 100%;
	margin-top: 100px;
	display: flex;
	background-color: #7188FF;
	padding-top: 50px;
	padding-bottom: 20px
}

#bottomnav {
	display: grid;
	width: 33%
}

#bottomnav a {
	color: #ffffff;
	text-align: center;
	margin-bottom: 20px
}

#termsconditions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin: auto;
    margin-top: -20px;
}

#termsconditions a {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    padding: 0 20px;
}

#socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: -20px;
}

#socialmedia a {
	text-align: center;
	padding: 0 10px;
}

#socialmedia a img {
    width: 20px;
    height: auto;
}

.footer-divider {
	width: 80%;
    height: 1px;
    background-color: white;
	margin: 1px auto;
}

#copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;
	padding-top: 10px;
	background-color: #7188FF
}

.left-text {
    text-align: left;
    color: #ffffff;
	padding-left: 160px;
}

.right-text {
    text-align: right;
    color: #ffffff;
	padding-right: 160px;
}

.cursor {
	position: fixed;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #FF8730;
	pointer-events: none;
	mix-blend-mode:normal; 
	z-index: 999;
	transition: transform 0.2s;
  }

  