@charset "utf-8";

@media (max-width: 480px){
}

#navandhero h1 {
	text-align: center;
	margin: auto;
	margin-top: 10%
}

#herosection {
	display: block;
	text-align: center;
	width: 100%
}

#herosection .column1 {
	margin: auto;
	width: 80%
}

#herosection .column2 {
	display: none
}

#introduction {
	margin-top: 100px
}

.intro {
	display: block;
	text-align: center;
	justify-content: center;
	margin: auto;
	align-items: center;
	margin-bottom: 50px
}

.intro .imgcolumn {
	float: right;
}

.intro img {
	width: 50%;
	margin-left: 25%
}

.intro .textcolumn {
	margin: auto
}

#eventscontainer {
	text-align: center
}

#eventscontainer h1 {
	margin: auto
}

.events {
	display: block;
	text-align: center;
	margin: auto;
}

.eventdate {
	width: auto;
	margin-top: 20px
}

#location {
	display: block;
	text-align: center;
	margin: auto
}

#location #map {
	width: 80%;
	margin: auto;
	margin-top: 20px
}

#hours {
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 50px
}

#hourstext {
	width: 100%;
}

#hourstimes {
	width: 100%;
	margin: auto;
	text-align: center;
	justify-content: center
}

#hourstimes .timeslot {
	width: 100%;
}

#peoplecontainer {
	margin: auto;
	margin-top: 100px
}

#peoplecontainer h2 {
	text-align: center
}

#communitysupportcontainer {
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 100px
}

#communitysupport {
	grid-template-columns: 1fr;
	margin: auto;
	text-align: center;
	margin-top: 50px
}

#communitysupport img {
	margin: auto;
}

#gallerylab {
	display: block;
	margin: auto;
	text-align: center;
}

#gallerylabtext {
	margin: auto
}

#gallerylab video {
	width: 100%;
	margin-left: 12%;
	margin-top: 50px
}

#volunteercontainer {
	height: auto;
	padding-bottom: 10%
}

#volunteer {
	display: block;
	text-align: center;
	margin: auto;
}

#gallerycontainer {
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 100px
}

#gallerycontainer .textcolumnright {
	margin-top: 50px
}

#eventschedule {
	display: block;
	text-align: center;
	margin: auto
}

#eventschedule img {
	display: none
}

#classescontainer {
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 100px
}

#classofferings {
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	text-align: center
}

#mentorshipcontainer {
	height: auto;
	padding-bottom: 20%
}

#mentorshipcontent {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
	margin: auto;
}

#mentorshipcontent #mentorshiptitle {
	width: 100%
}

#mentorshipcontent #mentorshiptext {
	width: 100%
}

#careercontainer {
	display: block;
	text-align: center;
}

#careercontainer button {
	margin-right: 20%
}