@charset "utf-8";

@media (max-width: 768px){
}

.intro {
	display: block;
	text-align: center;
	justify-content: center;
	margin: auto;
	align-items: center
}

.intro .imgcolumn {
	float: right
}

.intro .textcolumn {
	margin: auto
}

#eventscontainer {
	text-align: center
}

.events {
	display: block;
	text-align: center;
	margin: auto;
}

.eventdate {
	width: auto;
	margin-top: 20px
}