@charset "utf-8";

@media (max-width: 768px){
}

#herosection {
	display: block;
	text-align: center;
	width: 100%
}

#herosection .column1 {
	margin: auto;
	width: 80%
}

#herosection .column2 {
	display: none
}

.intro {
	display: block;
	text-align: center;
	justify-content: center;
	margin: auto;
	align-items: center
}

.intro .imgcolumn {
	float: right
}

.intro .textcolumn {
	margin: auto
}

#eventscontainer {
	text-align: center
}

.events {
	display: block;
	text-align: center;
	margin: auto;
}

.eventdate {
	width: auto;
	margin-top: 20px
}

#location {
	display: block;
	text-align: center;
	margin: auto
}

#location #map {
	width: 80%;
	margin: auto
}

#hours {
	display: block;
	text-align: center;
	margin: auto;
	margin-top: 50px
}

#hourstext {
	width: 100%
}

#hourstimes {
	width: 100%;
	text-align: center;
	align-content: center
}

#hourstimes .timeslot {
	align-content: center;
	margin: auto
}

.people {
	width: 80%;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	margin: auto
}

.person {
	
}